<h1>Shorten your Url</h1>

<%= form_for @url, :url => { :action => "create" }, :html => {:class => "nifty_form"} do |f| %>
  <%= f.text_field :long %>
  <%= f.submit "Shorten" %>
<% end %>

<h1>All your Links</h1>

<ul>
<% @urls.each do |url| %>
	<li>
		<%=url.long%>
			<a class='btn' href="http://<%=url.long%>"><%=url.id%></a>
	</li>
<%end%>